.main-edu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titl{
    text-align: center;
    color: var(--hover);
    border: 5px double var(--hover);
    width: fit-content;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 50px  5px;
    box-shadow: 0 0 30px var(--hover) inset;
}
 .edu span{
    color: gold;
 }
.edu .special{
    margin: 1rem 0;
    text-decoration: underline;
    color: rgb(0, 119, 255);
    padding-bottom: 0.6rem;
  
}
.edu h3 ,h4{
    margin: 1rem 0;
    color: gray;
    padding-bottom: .8rem;
}

.edu .second{
    width: 50%;

}
.edu .second  img{
    width: 60%;
    border: 13px double gold;
    padding: 1rem;
    border-radius: 5px 120px;
}

@media (max-width:750px) {
    .main-edu{
       flex-direction: column;
       
    }
    .main-edu .second  img{
        width: 100%;
    }
}